/*General Declarations*/
body {
	line-height: 1.5em;
	font-family:"Lantinghei SC";
	font-weight: normal;
}

p {
	font-family:"Bodoni 72";
	font-size: 1.2em;
}

.center {
	max-width:58.750em;
	min-width:45em;
	margin: auto auto;
}
.row {
	margin: 0;
	padding:0;
}
/*introduction*/

.intro{
	background-color: #f8f8f8;
}

.intro .col-xs-4 img {
height: 30.5em;
margin-top: 6rem;
padding-bottom: -15px;
}
.intro .col-xs-6 {
padding: 6rem 0.5rem 2rem 3rem;

}
 .intro .col-xs-6 {
 	text-align: center;

 }

.intro h1 {
	font-family: "Lantinghei SC";
	font-weight: normal;
	line-height: 0.8em;
	font-size: 3em;
}
.intro h2 {
	font-family: "Bodoni 72";
	font-size:2.5em;
}
.intro span {
	color: grey;
}
.intro button {
	margin-top: 3rem;
	background-color: orange;
	color: white;
	border: none;
	padding: 2rem 3rem;
	border-radius: 7%;
	transition: background-color 0.8s ease;
}

.intro button:hover {
	background-color: #E8940C;
}
 #middle-name {
 	color:#747474;
 }
/*About Me*/
.about-me {
	height: 39em;
	background-color: #ffb800;
	color:white;
	text-align: left;
	font-family:"Lantinghei SC";
}

.about-me .col-xs-4 img {
	float: right;
}

/*Projects*/
.projects-wrapper {
height: 35em;
background-color: #f8f8f8;
}
.projects {


text-align: center;
}

.projects h1 {
	padding-top: 2em;
	color:black;
}
.projects ul {
	list-style: none;
}

.projects li {
display: inline-block;
padding: 2em 2em;
-webkit-filter: grayscale(1);
 transition: -webkit-filter 0.5s ease;
 cursor: pointer;
}

.projects li:hover {
	-webkit-filter: none;
}
.projects img {
	max-height:10em;
}
.projects h1,h3 {
		font-family: "Lantinghei SC";
		font-weight:normal;
}
.projects h3 {
	font-weight: lighter;

}
.projects h1 {
	font-size: 5rem;
	
}

/*footer*/
footer {
	text-align: center;
	height:5em;
}
footer ul {
	list-style: none;
	padding: 2em 0em;
}

footer li {
	display: inline;
	padding: 0em 2em;
}

footer i {
 	transition: color 0.5s ease;
	color:grey;
}


footer i:hover {
color: orange;
}

